.userpanel-ogloszenie.table-container.well(style='padding: 10px')
  table
    tr
      td(style='width: 60%')
        .media-left
          a(href='/zobacz_ogloszenie?ogloszenie_id='+ogloszenie['ID'] style='width: 120px; height: 100px; display: flex; line-height: 100px; justify-content: center; background-color: #f9f9f9; border: 1px solid #ccc;')
            img.media-object(src="#{ogloszenie['Zdjecie_glowne'].substring(7, ogloszenie['Zdjecie_glowne'].length)}", alt='', style="margin: 0 auto; max-height: 100px; max-width: 120px; align-self: center; float:none;")
        .media-body
          a(href='http://localhost:3000/zobacz_ogloszenie?ogloszenie_id='+ogloszenie['ID'])
            h3.media-heading= ogloszenie['Tytul']
          p 
            -function prettyDate(dateString){
                //if it's already a date object and not a string you don't need this line:
                -var date = new Date(dateString);
                -var d = date.getDate();
                -var monthNames = [ "stycznia", "lutego", "marca", "kwietnia", "maja", "czerwca", "lipca", "sierpnia", "września", "października", "listopada", "grudnia" ];
                -var m = monthNames[date.getMonth()];
                -var y = date.getFullYear();
                -return d+' '+m+' '+y;
            -}
            |  Data dodania: #{prettyDate(ogloszenie['Data_dodania'])}
            .btn-group(role='group', aria-label='...')
              button#userpanel-odswiez.btn.btn-primary(type='button', onclick="obslugaPrzyciskowOgloszeniaUserPanel('ref',#{ogloszenie['ID']}, this)")
                span.glyphicon.glyphicon-refresh(aria-hidden='true')
                |  Odśwież
              a#userpanel-edytuj.btn.btn-warning(type='button', href='/edytuj_ogloszenie?advert_id='+ogloszenie['ID'])
                span.glyphicon.glyphicon-pencil(aria-hidden='true')
                |  Edytuj
              button#userpanel-usun.btn.btn-danger(type='button', onclick="obslugaPrzyciskowOgloszeniaUserPanel('remove',#{ogloszenie['ID']}, this)")
                span.glyphicon.glyphicon-remove(aria-hidden='true')
                |  Usuń
      td.price(style='font-size: 22px; width: 40%; float:right; text-align: right; padding-right: 20px; line-height: 101px;')  !{ogloszenie['Cena']} zł