tr
  td
    .media-left
      a(href='/zobacz_ogloszenie?ogloszenie_id='+ogloszenie['ID'])
        -if (ogloszenie['Zdjecie_glowne'] != '')
          img.media-object(src="#{ogloszenie['Zdjecie_glowne'].substring(7, ogloszenie['Zdjecie_glowne'].length)}", alt='')
        -else
          img.media-object(src="http://via.placeholder.com/120x100", alt='')
    .media-body
      a(href='/zobacz_ogloszenie?ogloszenie_id='+ogloszenie['ID'])
        h3.media-heading= ogloszenie['Tytul']
      p 
        span.glyphicon.glyphicon-map-marker(aria-hidden='true') 
        |   #{ogloszenie['Lokalizacja']} 
        br 
        span(style='color: #999999')
          span.glyphicon.glyphicon-time(aria-hidden='true')
          -var czas = ogloszenie['czas'];
          -if(czas > 0 && czas < 60)
            |  Dodano #{czas} sekund temu.
          -if(czas >= 60 && czas < 3600)
            -czas = parseInt(czas/60);
            |  Dodano #{czas} minut temu.
          -if(czas >= 3600 && czas < 86400)
            -czas = parseInt(czas/3600);
            |  Dodano #{czas} godzin temu.
          -if(czas >= 86400)
            -czas = parseInt(czas/(3600*24));
            |  Dodano #{czas} dni temu.
  td !{ogloszenie['Cena']}&nbsp;zł